@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,700&display=swap');

:root {
	font-size: 18px;
	--primary: #5084d7;
	--white: #fff;
	--font: 'Nunito', sans-serif;
}

body {
	font-family: var(--font);
	margin: 0;
}
